<p id="notice"><%= notice %></p>

<p>
  <strong>Default:</strong>
  <%= @ad.default %>
</p>

<p>
  <strong>Position:</strong>
  <%= @ad.position %>
</p>

<p>
  <strong>Network:</strong>
  <%= @ad.network %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ad.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ad.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Traffic source:</strong>
  <%= @ad.traffic_source %>
</p>

<p>
  <strong>Countries:</strong>
  <%= @ad.countries %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @ad.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @ad.end_date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ad.weight %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
