<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'sign-box' }) do |f| %>
  <div class="text-center">
      <%= image_tag 'foxyred.png', class: 'img-responsive' %>
  </div>
  <header class="sign-title">Resend confirmation instructions</header>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
  </div>

  <div class="text-center">
    <p><em>- Or -</em></p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
