<tr>
  <%= form_for(option) do |f| %>
    <td>
      <%= option.name.humanize %>
    </td>
    <td>
      <% if option.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:
          </h2>
          <ul>
            <% option.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
          </ul>
        </div>
      <% end %>
      <% if option.datatype === 'string' # is string %>
        <%= f.text_field :value, palceholder: true, class: 'form-control' %>
      <% elsif option.datatype === 'integer' #is a number %>
        <%= f.number_field :value, palceholder: true, class: 'form-control' %>
      <% elsif option.datatype === 'boolean' #is boolean %>
        <div class="checkbox-toggle">
          <%= f.check_box :value, {id: "option-#{option.id}"}, 'true', 'false' %>
          <%= f.label :value, for: "option-#{option.id}" %>
        </div>
      <% elsif option.datatype === 'email' #is email %>
        <%= f.email_field :value, palceholder: true, class: 'form-control' %>
      <% end %>
    </td>
    <td>
      <button type="submit" class="btn btn-sm btn-success submitbtn">
        <i class="fa fa-floppy-o"></i>
      </button>
    </td>
  <% end %>
</tr>