<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 push-md-3">
                <div class="card animated bounce">
                    <div class="card-block text-center">
                        <h4>Please check the captcha box to proceed to the destination page</h4>
                        <p>
                            <%= Ad.get(:step1_banner_300x250) if Option.get(:enable_banner_ads) %>
                        </p>
                        <p>
                            <%= form_tag("/go/#{@link.alias}", id: 'link-captcha') do %>
                            <div class="text-center"><%= recaptcha_tags id: 'g-recaptcha', script: false %></div>
                            <% end %> 
                        </p>
                        <p>
                            <%= Ad.get(:step1_banner_300x100) if Option.get(:enable_banner_ads) %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 pull-md-6">
                <%= Ad.get(:step1_banner_160x600) if Option.get(:enable_banner_ads) %>
            </div>
            <div class="col-6 col-md-3 text-right">
                <%= Ad.get :step1_banner_160x600 if Option.get(:enable_banner_ads) %>
            </div>
            <div class="col-lg-12">
                <% if current_visit.device_type == 'Mobile' %>
                <%= Ad.get(:step1_mobile) if Option.get(:enable_mobile_ads) %>
                <% end %>
            </div>
            <div>
                <%= Ad.get(:step1_popup) if Option.get(:enable_popup_ads) %>
            </div>
        </div>
    </div>
</section>