<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 push-md-3">
                <div class="card animated bounce">
                    <div class="card-block text-center">
                        <h4>Your link is almost ready</h4>
                        <p>
                            <%= @ad1 %>
                        </p>
                        <p>
                            <div>Please wait</div>
                            <a href="<%= @link.url %>" target="_blank" id="link-out" class="btn btn-sm btn-secondary-outline disabled">...</i></a>
                        </p>
                        <p>
                            <%= @ad2 %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 pull-md-6">
                <%= @ad3 %>
            </div>
            <div class="col-6 col-md-3 text-right">
                <%= @ad4 %>
            </div>
            <div class="col-12">
                <%= @ad5 %>
            </div>
        </div>
    </div>
</section>