<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sign-box'}) do |f| %>
  <div class="text-center">
      <%= image_tag 'foxyred.png', class: 'img-responsive' %>
  </div>
  <header class="sign-title">Log In</header>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: true %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="checkbox float-left">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
  
  <div class="text-center">
    <p><em>- Or -</em></p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


