<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list">
    <li class="red">
      <%= link_to dashboard_path do %>
        <i class="glyphicon glyphicon-stats"></i>
        <span class="lbl">Dashboard</span>
      <% end %>
    </li>
    <li class="green">
      <%= link_to referrals_path do %>
        <i class="font-icon fa fa-users"></i>
        <span class="lbl">Referrals</span>
      <% end %>
    </li>
    <li class="purple with-sub">
      <span>
	                <i class="font-icon glyphicon glyphicon-flash"></i>
	                <span class="lbl">Tools</span>
      </span>
      <ul>
        <li><a href="#"><span class="lbl">Mass shrinker</span></a></li>
        <li><a href="#"><span class="lbl">Quick Link</span></a></li>
        <li><a href="#"><span class="lbl">Full Page Script</span></a></li>
      </ul>
    </li>
    <li class="gold with-sub">
      <span>
	                <i class="font-icon glyphicon glyphicon-cog"></i>
	                <span class="lbl">Settings</span>
      </span>
      <ul>
        <li><a href="#"><span class="lbl">Profile</span></a></li>
        <li><a href="#"><span class="lbl">Change Password</span></a></li>
        <li><a href="#"><span class="lbl">Help</span></a></li>
      </ul>
    </li>
    <li class="pink">
      <%= link_to withdraw_path do %>
        <i class="font-icon glyphicon glyphicon-usd"></i>
        <span class="lbl">Withdraw</span>
      <% end %>
    </li>
  </ul>
  <section>
    <header class="side-menu-title">Admin</header>
    <ul class="side-menu-list">
      <%= link_to ads_path do %>
        <i class="tag-color green"></i><span class="lbl">Ads</span>
      <% end %>
      <%= link_to options_path do %>
        <i class="tag-color pink"></i><span class="lbl">Options</span>
      <% end %>
    </ul>
  </section>
</nav>
<!--.side-menu-->