<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list">
    <li class="red">
      <%= link_to dashboard_path do %>
        <i class="glyphicon glyphicon-stats"></i>
        <span class="lbl">Dashboard</span>
      <% end %>
    </li>
    <li class="green">
      <%= link_to referrals_path do %>
        <i class="font-icon fa fa-users"></i>
        <span class="lbl">Referrals</span>
      <% end %>
    </li>
    <li class="purple with-sub">
      <%= link_to tools_path do %>
        <i class="font-icon glyphicon glyphicon-flash"></i>
	      <span class="lbl">Tools</span>
      <% end %>
    </li>
    <li class="gold with-sub">
      <%= link_to controller: 'devise/registrations', action: 'edit' do %>
        <i class="font-icon glyphicon glyphicon-user"></i>
        <span class="lbl">Profile</span>
      <% end %>
    </li>
    <li class="pink">
      <%= link_to withdraw_path do %>
        <i class="font-icon glyphicon glyphicon-usd"></i>
        <span class="lbl">Withdraw</span>
      <% end %>
    </li>
  </ul>
  <section>
    <header class="side-menu-title">Admin</header>
    <ul class="side-menu-list">
      <%= link_to ads_path do %>
        <i class="tag-color green"></i><span class="lbl">Ads</span>
      <% end %>
      <%= link_to options_path do %>
        <i class="tag-color pink"></i><span class="lbl">Options</span>
      <% end %>
    </ul>
  </section>
</nav>
<!--.side-menu-->