<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= @page_title %></title>
    <meta name="description" content="<%= Option.get :site_description %>">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Foxy.red">
    <!-- Facebook Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= @page_title %>">
    <meta property="og:url" content="<%= url_for(only_path: false) %>">
    <meta property="og:image" content="<%= "#{root_url}img/cover.jpg" %>">
    <meta property="article:author" content="<%= Option.get :facebook_url %>">

    <%= csrf_meta_tags %>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58786505bcb77a1a&async=1' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <header class="site-header">
        <div class="container">
            <%= link_to root_url, class:'site-logo' do %>
                <%= image_tag 'foxyred.png', class: 'hidden-md-down' %>
                <%= image_tag 'foxyred-mob.png', class: 'hidden-lg-up' %>
            <% end %>
            <div class="site-header-content">
                <div class="site-header-content-in">
                    <div class="site-header-shown">
                        <button type="button" class="burger-right"> <i class="font-icon-menu-addl"></i> </button>
                    </div>
                    <!--.site-header-shown-->
                    <div class="mobile-menu-right-overlay"></div>
                    <div class="site-header-collapsed">
                        <div class="site-header-collapsed-in">
                            <nav class="menu">
                                <ul class="nav nav-pills btn-inline ">
                                    <li class="nav-item">
                                        <%= link_to 'Home', root_path, class: 'nav-link' %>
                                    </li>
                                    <li class="nav-item">
                                        <%= link_to 'Payout rates', rates_path, class: 'nav-link' %>
                                    </li>
                                    <% if user_signed_in? %>
                                    <li class="nav-item">
                                        <%= link_to 'Panel', dashboard_path, class: 'nav-link btn btn-danger' %>
                                    </li>
                                    <% else %>
                                    <li class="nav-item">
                                        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
                                    </li>
                                    <li class="nav-item">
                                        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link btn btn-danger' %>
                                    </li>
                                    <% end %>
                                </ul>
                            </nav>
                        </div>
                        <!--.site-header-collapsed-in-->
                    </div>
                    <!--.site-header-collapsed-->
                </div>
                <!--site-header-content-in-->
            </div>
            <!--.site-header-content-->
        </div>
        <!--.container-fluid-->
    </header>
    <%= yield %>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <a href="#">Privacy police</a> |
                    <%= link_to 'Terms of use', terms_path %>
                </div>
                <div class="col-sm-4 text-center">

                </div>
                <div class="col-sm-4 text-right">
                    <%= "© #{Time.now.year}. URL shortener service by" %> <%= link_to 'Foxy.red', root_path %>.
                </div>
            </div>
        </div>
    </footer>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58a0e63f1ddf420b"></script>  
    <%= render 'layouts/analytics' %>
</body>

</html>